.para{
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-family: cursive;
    font-size: 200; 
    font-weight: 600;
}
h1{
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;

}
.dolly{
    text-align: right;
}
.nav-item a{
    border-radius: 5;
}
.nav-item a:hover{
 background-color: grey;
}

nav.navbar{
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: transparent  !important;
 }
 nav.navbar.transparent {
    background-color:rgb(8, 8, 8) !important;
}
.material-icons{
    font-size: 20px;
}
address{
    margin-left: 55px;
}

