body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    width: 100%;
    height: 90px;
    background:#29487d;
    color:white;
}
.logo{
    width: 59%;
    padding-top: 36px;
    float: left;
}   
.login{
    width: 41%;
    float: left;
    padding-top: 12px;
}
.logo-text{
    font-size: 40px;
color: white;
text-decoration: none;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
margin-left: 274px;
}
.login-label{
    font-size: 12px;
}
.forg{
    color:#9cb4d8;
    text-decoration: none;
    padding: 5px;
    font-size: 12px;
}
.button{
    color:white;
    background-color: #4267b2;
    border-color: #29487d;
    cursor: pointer;

}
.button:hover{
    background: rebeccapurple;
}
.middler{
    background: linear-gradient(white, #D3D8E8); 
    width: 100%;
    height:500px;
}
.left-section{
    width: 50%;
    float: left;
}
.right-section{
    width: 36%;
    float: left;
    padding-left: 96px
}
.fb-desc{
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    margin-left: 266px;
    padding-top: 25px;
    float: left;
}
.image{
    width: 75%;
    padding-left: 254px;
}
.account{
    font-size: 35px;
    font-weight: 600;
    margin-top: 25px;
}
.quick{
    font-size: 18px;
    margin-left: 2px;
    margin-top: -19px;
}
.fname{
    height: 34px;
    width: 190px;
    border-radius: 4px;
}
.sname{
    height: 34px;
    width: 190px;
    border-radius: 4px;
    margin-left: -200px;
}
.phone{
    width: 410px;
    height: 34px;
    border-radius: 5px;
    margin-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
}