.outerbox{
        width:100%;
        height: 800px;
        background: rebeccapurple;
}
.box1{

    width: 40%;
    height: 30%;
    background: royalblue;
    float: left;
    margin: 10px;
}
.box2{

    width: 40%;
    height: 30%;
    background:green;
    float: left;
    margin: 10px;
}
.box3{

    width: 40%;
    height: 30%;
    background: greenyellow;
    float: left;
    margin: 10px;
}
.box4{

    width: 40%;
    height: 30%;
    background: orange;
    float: left;
    margin: 10px;
}




