.para{
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-family:'Boogaloo';
    font-size: 2rem; 
    font-weight: 600;
    color:black;
    margin-top: 11rem;
    margin-bottom: 1rem;
    
    font-weight: bolder;
}
#para{
    font-size: 3rem;
}
h1{
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;

}
#about{
    text-align: center;
    margin-bottom: 1.5rem;
}
#Hey{
 font-size: 5em;
}
#intro{
 font-size: 2rem;
}
.rounded-circle{
    max-width:50%;
    height: auto;
}
#whoami{
    margin-bottom: 3.5rem;
}
#worker{
    margin-top: 0.5rem;
    border-radius: 2rem;
    margin-left: 3.5rem;
}
#collab{
    margin-top: 2.7rem;
    border-radius: 2rem;
    margin-left: 3.5rem;
}
#whatcanido{
    color:black;
    padding-left: 4rem;
    font-size: 3rem;
    font-weight: bolder;
    padding-top: 80px;
}
#descriptionwhatcanido{
    color: teal;
    font-size: 20px;
    padding-top: 50px;
    font-size: x-large;
}
#whatiliketodo{
    color:black;
    padding-left:4rem;
    font-size: 3rem;
    font-weight: bolder;
    padding-top: 50px;
}
#iwouldloveto{
    color:teal;
    font-size:20px;
    padding-top: 50px;
    padding-left: 4rem;
}
#icanhelp{
    color: black;
    font-size: 51px;
    text-align: center;
    padding-top: 100px;
    font-weight: bolder;
}
#icanhelpdesc{
    color: teal;
    font-size: 20px;
    padding-top: 32px;
    text-align: center;
}
#buttonmessage{
    padding: 0.75rem;
    font-weight: bolder;
}
.nav-item a{
    border-radius: 5;
}
.nav-item a:hover{
 background-color:teal;
}

nav.navbar{
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: transparent  !important;
 }
 nav.navbar.transparent {
    background-color:rgb(8, 8, 8) !important;
}

#footerimage{
    background-image: url("images/footer.jpg");
    background-color: #cccccc;
    height:70rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
.footerhead{
    font-size: 3rem;
    padding-top: 7rem;
    padding-left: 65rem;
    color:white;
    font-weight:bolder ;
}
.footerdesc{
    font-size: 1.5rem;
    padding-top: 10rem;
    padding-left: 65rem;
    color: white;
    font-weight: bold;
}
#footerdescborder{
    border:2px turquoise;
    border-radius: 1.1rem;
}
.github{
    color:aliceblue;
    padding-left: .5rem;
    
}
.footerdescfb{
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-left: 65rem;
    color: white;
}

#footer{
    font-size: 1.4rem;
    color: white;
    text-align: center;
    font-family: 'Bangers';
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e61f, 0 0 40px #2ee600, 0 0 50px #2ee600, 0 0 60px #00e673, 0 0 70px #13e600;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

