.para{
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-family:;
    font-size: 2rem; 
    font-weight: 600;
    color:black;
    margin-top: 11rem;
    margin-bottom: 1rem;
    
    font-weight: bolder;
}
#para{
    font-size: 3rem;
}
h1{
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;

}
#about{
    text-align: center;
    margin-bottom: 1.5rem;
}
#Hey{
 font-size: 5em;
}
#intro{
 font-size: 2rem;
}
.rounded-circle{
    max-width:50%;
    height: auto;
}
#whoami{
    margin-bottom: 3.5rem;
}
#whatcanido{
    color:black;
    padding-left: 15px;
    font-size: 3rem;
    font-weight: bolder;
    padding-top: 80px;
}
#descriptionwhatcanido{
    color: teal;
    font-size: 20px;
    padding-top: 50px;
    font-size: x-large;
}
#whatiliketodo{
    color:black;
    padding-left: 15px;
    font-size: 3rem;
    font-weight: bolder;
    padding-top: 50px;
}
#iwouldloveto{
    color:teal;
    font-size:20px;
    padding-top: 50px;
}
#icanhelp{
    color: black;
    font-size: 51px;
    text-align: center;
    padding-top: 100px;
    font-weight: bolder;
}
#icanhelpdesc{
    color: teal;
    font-size: 20px;
    padding-top: 32px;
    text-align: center;
}
#buttonmessage{
    padding: 0.75rem;
    font-weight: bolder;
}
.nav-item a{
    border-radius: 5;
}
.nav-item a:hover{
 background-color:teal;
}

nav.navbar{
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: transparent  !important;
 }
 nav.navbar.transparent {
    background-color:rgb(8, 8, 8) !important;
}
.material-icons{
    font-size: 20px;
}
address{
    margin-left: 55px;
}
#footer{
    position: absolute;
    top: 300%;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    z-index: 100;
}


